# ignore generated artefacts
bin/
build/
doc/
dist/

# ignore NetBeans specific settings
.nb-gradle/
nbproject/

# ignore VSCode/Eclipse specific settings
.vscode/settings.json
.settings/
.classpath
.project
.Rhistory

# ignore gradle caches
.gradle/

# ignore other garbage that often ends up in the project folder
*.zip
*.tgz
*.tar.gz
*.class
*.jar
.DS_Store
*.orig
tmp/

# Don't ignore gradle wrapper JAR
!gradle-wrapper.jar