Robert
Sharpen filter
Gaussian blur filter
Median filter

Maleena
Image thresholding
Image inversion
Colour channel swapping

Multilingual support

Ritvik
Image resize
Image rotations: 90◦ left; 90◦ right; 180◦
Image flip: Horizontal; Vertical

Image export
Exception handling
Other error avoidance/prevention
User experience
README documentation
